@use "../tokens" as t;

.pui-badge {
  justify-content: center;
  align-items: center;
  padding-top: t.$badge-padding-y;
  padding-bottom: t.$badge-padding-y;
  padding-left: t.$badge-padding-x;
  padding-right: t.$badge-padding-x;
  border-radius: t.$radius-md;
  border-width: t.$border-width;
  border-style: solid;
  border-color: transparent;
  font-size: t.$font-size-xs;
  font-weight: t.$font-weight-semibold;
}

.pui-badge--default {
  background-color: t.$primary;
  color: t.$primary-foreground;
  &.pui-dark { background-color: t.$dark-primary; color: t.$dark-primary-foreground; }
}

.pui-badge--secondary {
  background-color: t.$secondary;
  color: t.$secondary-foreground;
  &.pui-dark { background-color: t.$dark-secondary; color: t.$dark-secondary-foreground; }
}

.pui-badge--destructive {
  background-color: t.$destructive;
  color: t.$destructive-foreground;
  &.pui-dark { background-color: t.$dark-destructive; color: t.$dark-destructive-foreground; }
}

.pui-badge--outline {
  background-color: t.$background;
  color: t.$foreground;
  border-color: t.$border;
  &.pui-dark {
    background-color: t.$dark-background;
    color: t.$dark-foreground;
    border-color: t.$dark-border;
  }
}
