@use "../tokens" as t;

.pui-divider {
  height: t.$border-width;
  width: t.$divider-length;
  background-color: t.$border;
  &.pui-dark { background-color: t.$dark-border; }
}

.pui-divider--vertical {
  width: t.$border-width;
  height: t.$divider-length;
}
